@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');



body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.container{
    max-width: 1970px;
     padding: 0 10px;
    margin: 0 auto;
}
.header__sale{
    padding: 8px 0;
    background-color: #57D9A6;
}
.header__sale p{
    font-size: 18px;
    line-height: 27px;
    text-align: center center;
    color: #1C1C33;
    margin-left: 700px;
}
.nav{
    padding: 33px 80px;
    background-color: #1C1C33;
    display: flex;
    justify-content: space-between;
}
.nav__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}
.nav__link{
    color: #F6F6F8;
    font-size: 17px;
    line-height: 27px;
}
.header-content{
     
    background-color: #23233B;
    display: flex;
    justify-content: space-between;
}
.header-text{
margin-top: 144px;
margin-left: 80px;
margin-bottom: 311px;
}
.header__h3{
    max-width: 130px;
    text-transform: uppercase;
    color: #F6F6F8;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 7px;;
    border-bottom: 1px solid #57D9A6;
    margin-bottom: 59px;
}
.header__h1{
     
    color: #F6F6F8;
    margin-bottom: 22px;
    font-size: 77px;
    font-weight: 700;
}
.header-text p{
    max-width: 548px;
    color:#F6F6F8;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 22px;
}
.header__h6{
    margin-bottom: 48px;
    color: #B2B2BF;
    font-size: 17px;
    line-height: 27px;
}
.btn{
    text-transform: uppercase;
    color: #1C1C33;
    background-color: #57D9A6;
    border: 1px solid #57D9A6;
    border-radius: 4px;
    padding: 16px 24px;
}
.header__content-img{
    margin-right: 92px;
    padding-top: 158px;
}
